.forceUsersGrid {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.forceUsersGrid h4 {
    margin-bottom: 0;
}

.forceUsersGrid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.forceUsersGrid img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.dark {
    background-color: rgb(255, 184, 184);
}

.light {
    background-color: rgb(207, 207, 254);
}